<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.medium-feedback</title>
    <link href="../../bin/style.min.css" rel="stylesheet">
</head>
<body>

    <!--Vue只绑定data的属性-->
    <div class="medium_feedback">
        <div id="medium_feedback_main">
            <ul class="medium_feedback_block">
                <li :key="index" v-for="(item, index) in items" > 
                    <transition name="medium_logo_fade">
                        <img class="medium_feedback_logo" :src="item.logo" :alt="item.mediumName" v-if="current === index">
                    </transition>
                    <transition name="medium_content_fade">
                    <div class="medium_feedback_section1" v-if="current === index"> 
                        <h5 class="medium_feedback_title">{{item.title}}</h5>
                        <p class="medium_feedback_content">{{item.content}}</p>
                    </div>
                    </transition>
                </li>
            </ul>
        </div>
        <!--这里还有个动画，不过现在本大爷不想写-->
        <div id="mf_next_button" class="mf_next_button">
            <div class="mf_next_button_triangle"></div>
        </div>
        <ul id="mf_page_turn" class="page_turn mf_page_turn"></ul>
    </div>

    <script src="./test.bundle.js" type="text/javascript"></script>
    
</body>
</html>
