<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>创客贴 - 移动端首页</title>

    <link href="./bin/chuangkit.index.phone.style.css" rel="stylesheet">
</head>
<body>
    <header>
        <!--<component is="header-comp">-->

        <!--</component>-->
    </header>

    <ul id="page_turn" class="page_turn page_turn_index"></ul>

    <div class="mouse" id="mouse">
        <div class="mouse_content">
            <img class="mouse1" src="./img/1/mouse.svg" alt="">
            <img class="mouse2" src="./img/1/mouse2.svg" alt="">
        </div>
        <div class="mouse_circle">
        </div>
    </div>

    <div id="active_background_w" class="active_background active_background_w"></div>
    <div id="active_background_b" class="active_background active_background_b"></div>
    <div id="gradient1" class="gradurl_background gradient1"></div>
    <div id="gradient2" class="gradurl_background gradient2"></div>
    <div id="gradient3" class="gradurl_background gradient3"></div>
    <div id="gradient4" class="gradurl_background gradient4"></div>
    <div id="gradient5" class="gradurl_background gradient5"></div>

    <section id="page1" class="page1">
        <div id="blue_banner" class="blue_banner"></div>

        <div id="slogan" class="slogan">
            <h1>
                <p>极简的</p>
                <p>平面</p>
                <p>设计工具</p>
            </h1>
            <h2>Minimalist graphic design tools</h2>
            <div id="start_btn" class="start_btn">
                <button>开启设计</button>
            </div>

            <div id="page1_icons" class="page1_icons">
                <img src="./img/1/icon1.svg" alt="">
                <img src="./img/1/icon2.svg" alt="">
                <img src="./img/1/icon3.svg" alt="">
            </div>
        </div>

    </section>

    <section id="page2" class="page2">
        <div class="card_num_b">
            <img id="card_num_b_1" class="card_num_b_1" src="./img/3/3-01.svg" alt="">
            <img id="card_num_b_2" class="card_num_b_2" src="./img/4/4-02.svg" alt="">
            <img id="card_num_b_3" class="card_num_b_3" src="./img/5/5-03.svg" alt="">
            <img id="card_num_b_4" class="card_num_b_4" src="./img/6/6-04.svg" alt="">
            <img id="card_num_b_5" class="card_num_b_5" src="./img/7/7-05.svg" alt="">
        </div>

        <ul id="card_seq2" class="card_seq card_seq2">
            <div class="container">
                <li v-for="item in items" class="card image_shadow" :class="item.identify">
                    <div class="card_header">
                        <div class="card_title">
                            <h1>{{item.title_z}}</h1>
                            <h2>{{item.title_e}}</h2>
                        </div>
                        <div class="card_image">
                            <img class="below" :src="item.below_img" alt="">
                            <img class="above" :src="item.above_img" alt="">
                        </div>
                    </div>
                    <div class="card_tail">
                        <p class="card_detail">
                        {{ item.detail }}
                        </p>
                    </div>
                </li>
            </div>
        </ul>
        
        <ul id="card_seq" class="card_seq">
            <li v-for="item in items" class="card" :class="item.identify">
                <div class="card_header">
                    <div class="card_title">
                        <h1>{{item.title_z}}</h1>
                        <h2>{{item.title_e}}</h2>
                    </div>
                    <div class="card_image">
                        <img class="below" :src="item.below_img" alt="">
                        <img class="above" :src="item.above_img" alt="">
                    </div>
                </div>
                <div class="card_tail">
                    <p class="card_detail">
                    {{ item.detail }}
                    </p>
                    <img :src="item.tail_img" alt="">
                </div>
            </li>
        </ul>
    </section>

    <div id="page3" class="page3">
        <div class="container">
            <div class="image image_c key1">
                <img src="./img/3/3-2.svg" alt="">
                <div class="title">
                    <p>自定义尺寸</p>
                    <p>Custom size</p>
                </div>
            </div>
            <div class="image image_a">
                <img src="./img/3/3-1.svg" alt="">
                <div class="title">
                    <p>广告印刷</p>
                    <p>Advertising printing</p>
                </div>
            </div>
            <div class="image image_s key2">
                <img src="./img/3/3-3.svg" alt="">
                <div class="title">
                    <p>社交媒体</p>
                    <p>Social media</p>
                </div>
            </div>
            <div class="image image_w key3">
                <img src="./img/3/3-4.svg" alt="">
                <div class="title">
                    <p>工作文档</p>
                    <p>Work document</p>
                </div>
            </div>
            <div class="image image_l key4">
                <img src="./img/3/3-5.svg" alt="">
                <div class="title">
                    <p>生活</p>
                    <p>Life</p>
                </div>
            </div>
        </div>
    </div>

    <div id="page4" class="page4">
        <div class="container">
            <div class="image image_v key2">
                <img src="./img/4/4-2.svg" alt="">
                <div class="title">
                    <p>矢量图</p>
                    <p>Vector diagram</p>
                </div>
            </div>
            <div class="image image_p key1">
                <img src="./img/4/4-1.svg" alt="">
                <div class="title">
                    <p>摄影图片</p>
                    <p>Photography</p>
                </div>
            </div>
            <div class="image image_a key3">
                <img src="./img/4/4-3.svg" alt="">
                <div class="title">
                    <p>艺术字</p>
                    <p>Art font</p>
                </div>
            </div>
            <div class="image image_t key4">
                <img src="./img/4/4-4.svg" alt="">
                <div class="title">
                    <p>字体</p>
                    <p>Typeface</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="page5" class="page5">
        <div class="container">
            <div class="image image_1">
                <img src="./img/5/5-1.svg" alt="">
            </div>
            <div class="image image_2 key1">
                <img src="./img/5/5-2.svg" alt="">
            </div>
            <div class="image image_3 key2">
                <img src="./img/5/5-3.svg" alt="">
            </div>
        </div>
    </div>

    <div id="page6" class="page6">
        <div class="container">
            <div class="page6_box1"></div>
            <div class="page6_box2"></div>

            <div class="image image_1">
                <img src="./img/6/6-1.svg" alt="">
            </div>
            <div class="image image_2">
                <img src="./img/6/6-2.svg" alt="">
            </div>
            <div class="image image_3">
                <img src="./img/6/6-3.svg" alt="">
            </div>
            <div class="image image_4">
                <img src="./img/6/6-4.svg" alt="">
            </div>
            <div class="image image_5">
                <img src="./img/6/6-5.png" alt="">
            </div>
            <div class="image image_6">
                <img src="./img/6/6-6.png" alt="">
            </div>
            <div class="image image_7">
                <img src="./img/6/6-7.png" alt="">
            </div>
            <div class="image image_8">
                <img src="./img/6/6-8.svg" alt="">
            </div>
            <div class="image image_9">
                <img src="./img/6/6-9.svg" alt="">
            </div>
            <div class="image image_10">
                <img src="./img/6/6-10.svg" alt="">
            </div>
            <div class="image image_11">
                <img src="./img/6/6-11.svg" alt="">
            </div>
            <div class="image image_12">
                <img src="./img/6/6-12.svg" alt="">
            </div>
            <div class="image image_13">
                <img src="./img/6/6-13.svg" alt="">
            </div>
            <div class="image image_14">
                <img src="./img/6/6-14.svg" alt="">
            </div>
            <div class="image image_15">
                <img src="./img/6/6-15.svg" alt="">
            </div>
            <div class="image image_16">
                <img src="./img/6/6-16.svg" alt="">
            </div>
            <div class="image image_17">
                <img src="./img/6/6-17.svg" alt="">
            </div>
            <div class="image image_18">
                <img src="./img/6/6-18.svg" alt="">
            </div>
        </div>
    </div>

    <div class="page7" id="page7">
        <div class="container">
            <div class="image page7_box"></div>
            <div class="image image_bqtp">
                <img src="./img/7/7-bqtp.svg" alt="">
                <div class="title">
                    <p>标清图片</p>
                </div>
            </div>
            <div class="image image_hdimg">
                <img src="./img/7/7-hdimg.svg" alt="">
                <div class="title">
                    <p>高清图片</p>
                </div>
            </div>
            <div class="image image_jpg">
                <img src="./img/7/7-jpg.svg" alt="">
                <div class="title">
                    <p>JPG</p>
                </div>
            </div>
            <div class="image image_pj">
                <img src="./img/7/7-pj.svg" alt="">
                <div class="title">
                    <p>自动拼接</p>
                </div>
            </div>
            <div class="image image_ppt">
                <img src="./img/7/7-ppt.svg" alt="">
                <div class="title">
                    <p>PPT</p>
                </div>
            </div>
            <div class="image image_tmbj">
                <img src="./img/7/7-tmbj.png" alt="">
                <div class="title">
                    <p>PNG</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page8" id="page8">
        <ul id="user_feedback" class="user_feedback">
            <li v-for="item in items" :class="{
                uf_align_left: item.position,
                uf_align_right: !item.position
                }"> 
                <div class="user_feedback_avatar" :style="{backgroundImage:'url('+item.avatar+')'}"></div>
                <div class="user_feedback_section1" :class="{
                    uf_left_float: item.position,
                    uf_right_float: !item.position
                    }">
                    <h5 class="user_feedback_identity">{{ item.identity }}</h5>
                    <p class="user_feedback_content">{{ item.content }}</p>
                </div>
            </li>   
        </ul>
    </div>

    <div class="page9" id="page9">
        <div class="container">
            <!--[>Vue只绑定data的属性<]-->
            <div id="medium_feedback" class="medium_feedback">
                <div id="medium_feedback_main">
                    <ul class="medium_feedback_block">
                        <li :key="index" v-for="(item, index) in items" > 
                            <transition name="medium_logo_fade">
                                <img class="medium_feedback_logo" :src="item.logo" :alt="item.mediumName" v-if="current === index">
                            </transition>
                            <transition name="medium_content_fade">
                            <div class="medium_feedback_section1" v-if="current === index"> 
                                <h5 class="medium_feedback_title">{{item.title}}</h5>
                                <p class="medium_feedback_content">{{item.content}}</p>
                            </div>
                            </transition>
                        </li>
                    </ul>
                </div>
                <!--这里还有个动画，不过现在本大爷不想写-->
                <div id="mf_next_button" class="mf_next_button">
                    <div class="mf_next_button_triangle"></div>
                </div>
                <ul id="mf_page_turn" class="page_turn mf_page_turn"></ul>
            </div>

            <div class="content_box">
                <div class="image_box">
                    <img class="picture pc" src="./img/9/pc.jpg" alt="">
                    <img class="picture phone" src="./img/9/phone.png" alt="">
                    <img class="picture ipad" src="./img/9/ipad.png" alt="">
                </div>
                
                <button>开启设计</button>
            </div>
        </div>

        <div class="footer" id="footer">
            <div class="content">

                <div id="marketing" class="marketing">
                    <div class="qrcode">
                        <img :src="items[0].qrcode" alt="">
                    </div>
                    <ul class="description">
                        <li v-for="item in items[0].market">
                            <p>{{item.title}}</p>
                            <p>{{item.email}}</p>
                        </li>
                    </ul>
                </div>
                
                <div id="links" class="links">
                    <ul class="link" v-for="set in items">
                        <li v-for="item in set">
                            <a :href="item.url">{{item.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="info" class="info">
                <div>
                    {{items[0].copyright}} 
                    {{items[0].domain_record}}
                </div>

                <div class="designer">
                    Design by 
                    <a :href="items[0].designer.website" target="_blank">{{items[0].designer.name}}</a>
                </div>
                
            </div>
            
        </div>
        
    </div>

    <script src="./bin/chuangkit.index.phone.bundle.js" type="text/javascript"></script>
    
</body>
</html>

