/*user feedback abbr to uf*/
/*medium feedback abbr to mf*/

@page1_h1_color: #555;
@page1_h2_color: #555;
@page1_button_color: #555;
@page1_h1_size: 3.8em;
@page1_h2_size: 1.07em;

@page2_card_title_size_z: 1.17em;
@page2_card_title_size_e: 1em;
@page2_detail_color: #666;

@black_stone: url(../img/2/black_stone.svg);
@white_stone: url(../img/1/white_stone.svg);


@default_link_color: #aaa;
@nav_active_color: #333;
@default_font_family: "_(:з」∠)_";

@uf_identity_color: #aaa;
@uf_content_color: #444;

@uf_avatar_size: 6.4em;
@uf_identity_size: 1.07em;
@uf_content_size: 1.3em;

@mf_title_color: #444;
@mf_content_color: #444;

@mf_title_size: 1.07em;
@mf_content_size: 1.3em;
@mf_logo_size: 5.3em;

@mf_height: 33em;
@mf_width: 23em;

@mf_quotation_font_family: "_(:з」∠)_";
@mf_quotation_width: .5;
@mf_quotation_color: #666;
@mf_next_button_color: #666;

@footer_bg_color: #555;
@footer_font_color: #aaa;
@footer_font_size: 1em;

.public_button {
    border: 1px solid @page1_button_color;
    color: @page1_button_color;
    background-color: white;
    font-size: 1.07em;
    padding: .8em 6.67em;
    transition: all 1s;

    &:hover {
        color: white;
        background-color: @page1_button_color;
    }
}

.public_shadow {
    box-shadow: 0 .125rem 1rem .125rem rgba(160,160,160, .3);
}

.card_shadow {
    box-shadow: 0 0 .125rem .125rem #555;
    /*box-shadow: 0 .225rem 1rem .125rem rgba(160,160,160, .5);*/
}

.image_shadow {
    box-shadow: 0 .225rem 1rem .125rem rgba(160,160,160, .5) !important;
}

.gradient1 {
    background-image: linear-gradient(to bottom right, #fca243, #fbc757, #fbda61);
}
.gradient2 {
    background-image: linear-gradient(to bottom right, #fbda61, #cff223, #b5ff00);
}
.gradient3 {
    background-image: linear-gradient(to bottom right, #b5ff00, #00ff7c, #6dfbf2);
}
.gradient4 {
    background-image: linear-gradient(to bottom right, #1de09e, #00e2ff, #00daff);
}
.gradient5 {
    background-image: linear-gradient(to bottom right, #00cde7, #00d5ff, #85b9ff);
}
