/*user feedback abbr to uf*/
/*medium feedback abbr to mf*/

@default_link_color: #aaa;
@nav_active_color: #333;
@default_font_family: "_(:з」∠)_";

@uf_identity_color: #aaa;
@uf_content_color: #444;

@uf_avatar_size: 4.8rem;
@uf_identity_size: .8rem;
@uf_content_size: 1rem;

@mf_title_color: #444;
@mf_content_color: #444;

@mf_title_size: .8rem;
@mf_content_size: 1rem;
@mf_logo_size: 4rem;

@mf_height: 26rem;
@mf_width: 19rem;

@mf_quotation_font_family: "_(:з」∠)_";
@mf_quotation_width: .5;
@mf_quotation_color: #666;
@mf_next_button_color: #666;

.public_shadow {
    box-shadow: 0 .125rem 1rem .125rem #eee;
}
