/*动画图片尺寸配置*/
/*page3*/
.page3_image_a_size {
    padding: 1em 2em 1em 2em;
    img {
        width: 568em / 16;
    }
}
.page3_image_c_size {
    padding: 3em 3em 1em 3em;
    img {
        width: 181em / 16;
    }
}
.page3_image_s_size {
    z-index: 10;
    padding: 1.5em 5em 1em 3em;
    img {
        width: 456em / 16;
    }
}
.page3_image_w_size {
    padding: 3em 3em 1em 3em;
    img {
        width: 456em / 16;
    }
}
.page3_image_l_size {
    padding: 2em 2em 1em 2em;
    img {
        width: 338em / 16;
    }
}

/*page4*/
.page4_image_v_size {
    z-index: 10;
    padding: 3em 1em 2em 1em;
    img {
        width: 360em / 16;
        height: 594em /16;
    }
}
.page4_image_p_size {
    padding: 2em 1em 2em 1em;
    img {
        width: 374em / 16;
        height: 510em /16;
    }
}
.page4_image_t_size {
    padding: 3em 1.5em 2em 1.5em;
    img {
        width: 342em / 16;
        height: 426em /16;
    }
}
.page4_image_a_size {
    z-index: 8;
    padding: 3em 1.5em 2em 1.5em;
    img {
        width: 343em / 16;
        height: 498em /16;
    }
}

/*page5*/
.page5_image_1_size {
    padding: 2em 2.2em;
    img {
        width: 415em / 18;
        height: 400em / 18;
    }
}
.page5_image_2_size {
    padding: 3em;
    img {
        width: 510em / 18;
        height: 484em / 18;
    }
}
.page5_image_3_size {
    z-index: 8;
    padding: 3em;
    img {
        width: 422em / 18;
        height: 428em / 18;
    }
}
