/*动画图片尺寸配置*/
/*page3*/
.page3_image_a_size {
    padding: 0.75em 1.5em 0.75em 1.5em;
    img {
        width: 426.0em / 16;
    }
}
.page3_image_c_size {
    padding: 2.25em 2.25em 0.75em 2.25em;
    img {
        width: 135.75em / 16;
    }
}
.page3_image_s_size {
    z-index: 10;
    padding: 1.125em 3.75em 0.75em 2.25em;
    img {
        width: 342.0em / 16;
    }
}
.page3_image_w_size {
    padding: 2.25em 2.25em 0.75em 2.25em;
    img {
        width: 342.0em / 16;
    }
}
.page3_image_l_size {
    padding: 1.5em 1.5em 0.75em 1.5em;
    img {
        width: 253.5em / 16;
    }
}

/*page4*/
.page4_image_v_size {
    z-index: 10;
    padding: 2.25em 0.75em 1.5em 0.75em;
    img {
        width: 270.0em / 16;
        height: 445.5em /16;
    }
}
.page4_image_p_size {
    padding: 1.5em 0.75em 1.5em 0.75em;
    img {
        width: 280.5em / 16;
        height: 382.5em /16;
    }
}
.page4_image_t_size {
    padding: 2.25em 1.125em 1.5em 1.125em;
    img {
        width: 256.5em / 16;
        height: 319.5em /16;
    }
}
.page4_image_a_size {
    z-index: 8;
    padding: 2.25em 1.125em 1.5em 1.125em;
    img {
        width: 257.25em / 16;
        height: 373.5em /16;
    }
}

/*page5*/
.page5_image_1_size {
    padding: 1.5em 1.65em;
    img {
        width: 311.25em / 18;
        height: 300.0em / 18;
    }
}
.page5_image_2_size {
    padding: 2.25em;
    height: 363.0em / 18 + 2.25em * 2;

    img {
        width: 382.5em / 18;
        height: 363.0em / 18;
    }
}
.page5_image_3_size {
    z-index: 8;
    padding: 2.25em;
    height: 321.0em / 18 + 2.25em * 2;
    img {
        width: 316.5em / 18;
        height: 321.0em / 18;
    }
}

/*page6*/
.page6_image_1_size {
    img {
        width: 105.75em / 19 ;
    }
}
.page6_image_2_size {
    img {
        width: 105.75em / 19 ;
    }
}
.page6_image_3_size {
    img {
        width: 105.75em / 19 ;
    }
}
.page6_image_4_size {
    img {
        width: 105.75em / 19 ;
    }
}
.page6_image_5_size {
    z-index: 8;
    img {
        width: 202.5em / 19 ;
    }
}
.page6_image_6_size {
    z-index: 8;
    img {
        width: 202.5em / 19 ;
    }
}
.page6_image_7_size {
    z-index: 8;
    img {
        width: 202.5em / 19 ;
    }
}
.page6_image_8_size {
    z-index: 8;
    img {
        width: 89.25em / 19 ;
    }
}
.page6_image_9_size {
    z-index: 8;
    img {
        width: 89.25em / 19 ;
    }
}
.page6_image_10_size {
    z-index: 8;
    img {
        width: 89.25em / 19 ;
    }
}
.page6_image_11_size {
    z-index: 8;
    img {
        width: 462.75em / 19 ;
    }
}
.page6_image_12_size {
    img {
        width: 806.25em / 19 ;
    }
}
.page6_image_13_size {
    img {
        width: 167.25em / 19 ;
    }
}
.page6_image_14_size {
    img {
        width: 57.75em / 19 ;
    }
}
.page6_image_15_size {
    img {
        width: 57.75em / 19 ;
    }
}
.page6_image_16_size {
    img {
        width: 57.75em / 19 ;
    }
}
.page6_image_17_size {
    img {
        width: 57.75em / 19 ;
    }
}
.page6_image_18_size {
    img {
        width: 57.75em / 19 ;
    }
}
.page6_box1_size {
    width: 806.25em / 19 + 3.75em;
    height: 31.5em;
}
.page6_box2_size {
    width: 202.5em / 19 + 3.75em;
    height: 31.5em;
}

/*page7*/
.page7_image_bqtp_size {
    padding: 0.75em 5.025em;
    img {
        width: 139.5em / 19;
    }
}
.page7_image_hdimg_size {
    padding: 4.575em 1.5em;
    img {
        width: 138.0em / 19;
    }
}
.page7_image_jpg_size {
    padding: 0.75em 1.125em;
    img {
        width: 105.75em / 19;
    }
}
.page7_image_pj_size {
    padding: 1.7625em 1.5em;
    img {
        width: 121.5em / 19;
    }
}
.page7_image_ppt_size {
    padding: 1.125em 6.0em;
    img {
        width: 100.5em / 19;
    }
}
.page7_image_tmbj_size {
    padding: 0.75em 1.2em;
    img {
        width: 102.75em / 19;
    }
}
.page7_box_size {
    width: 60.0em;
    height: 27.0em;
}
