/*user feedback abbr to uf*/
/*medium feedback abbr to mf*/

@import "reset";
@import "base";
@import "config";
@import "modules";
@import "animation";
@import "imageconfig";


/***** Start *****/

html {
    font-size: 16px;
    height: 100%;
    overflow: hidden;
}

body, section {
    height: 100%;
}

button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.page_turn_index {
    z-index: 20;
    position: fixed;
    right: 0;
    top: 300px;
    margin-right: 2.2rem;

    li {
        width: .5rem;
        height: .5rem;
        border-width: 0.1rem;
        margin: .4rem 0;
    }
}

.mouse {
    text-align: center;
    z-index: 20;
    position: fixed;
    bottom: 2rem;
    width: 100%;

    transform: translateY(40px);
    opacity: 0;
    transition: all 1.3s;

    img {
        max-height: 50px;
        height: 2.3rem;
    }
}

.active_background_w {
    background-image: @white_stone;
    background-position: center;
}
.active_background_b {
    background-image: @black_stone;
    background-position: center;
    display: none;
}


/** 页面样式 **/

.page1, .page2, .page3, .page4, .page5, .page6 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.page1 {
    z-index: 8;
    /*display: none;*/
}
.page2 {
    z-index: 7;
    /*display: none;*/
}
.page3 {
    z-index: 6;
    /*display: none;*/
}
.page4 {
    z-index: 5;
}
.page5 {
    z-index: 4;
}
.page6 {
    z-index: 3;
}

.page1 {
    .blue_banner {
        background-image: url(../img/1/blue_banner.svg);
        height: 13rem;
        background-size: 86rem;
    }

    .slogan {
        text-align: center;

        h1 {
            font-size: 2.8rem;
            color: @page1_h1_color;
            letter-spacing: .2rem;
            margin: 2.3rem 0 .8rem 0;
        }
        h2 {
            font-size: .8rem;
            color: @page1_h2_color;
            letter-spacing: .5rem;
            margin-bottom: 1.8rem;
        }
        button {
            border: 1px solid @page1_button_color;
            color: @page1_button_color;
            background-color: white;
            font-size: .8rem;
            padding: .6rem 5rem;
            transition: all 1s;

            &:hover {
                color: white;
                background-color: @page1_button_color;
            }
        }
    }

    .page1_icons {
        text-align: center;
        padding: 2.4rem 0 1.8rem 0;

        img {
            max-height: 150px;
            height: 6rem;
            margin: 0 2rem;
        }
    }
}

.page2 {
    background-position: center;
    font-size: 1rem;

    .card_num_b {
        img {
            width: 7em;
            z-index: 12;
            visibility: hidden;
            position: absolute;
        }
    }

    .card_seq {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .card {
            overflow: hidden;
            display: inline-block;
            width: 13rem;
            height: 19.5rem;
            border-radius: 3px;
            margin: 0 1rem;
            cursor: pointer;
            background-repeat: no-repeat;
            background-image: @white_stone;
            background-size: 100rem;
            background-color: white;

            .card_shadow;

            &:hover {
                .below {
                    transform: translateX(2rem);
                }
                .card_tail img {
                    opacity: 1;
                }
            }
        }

        .card_header {
            position: relative;
            height: 30%;

            .card_title {
                position: absolute;
                z-index: 5;
                margin: 1.2rem;
            
                h1 {
                    color: white;
                    font-size: @page2_card_title_size_z;
                    margin-bottom: .2rem;
                }
                h2 {
                    color: white;
                    font-size: @page2_card_title_size_e;
                }
            }

            .card_image {
                position: relative;
                left: -4.9rem;
                top: -3.5rem;
                height: 100%;

                img {
                    position: absolute;
                    width: 168%;
                }
                .above {
                    left: -.8rem;
                    top: -.7rem;
                }
                .below {
                    transition: all .5s;
                }
            }
        }

        .card_tail {
            height: 70%;
            position: relative;
            padding: 1.5rem;

            p {
                line-height: 160%;
                color: @page2_detail_color;
                font-size: @page2_card_title_size_z;
            }

            img {
                opacity: .5;
                width: 50%;
                position: absolute;
                bottom: -1.4rem;
                right: -1rem;
                transition: all .5s;
            }
        }
    }
}

.animation_page_image {
    position: absolute;
    text-align: center;
    background-color: white;
    .image_shadow;

    p {
        font-size: 12px;
        color: #ccc;
    }
}

.page4_image_a {
    .page4_image_a_ !important;
}
.page4_image_p {
    .page4_image_p_ !important;
}
.page4_image_v {
    .page4_image_v_ !important;
}
.page4_image_t {
    .page4_image_t_ !important;
}

.page3 {
    /*.gradient1;*/
    
    font-size: 10px;

    .image {
        .animation_page_image;
    }

    .image_a {
        .page3_image_a_;
    }
    .image_c {
        .page3_image_c_;
    }
    .image_s {
        .page3_image_s_;
    }
    .image_w {
        .page3_image_w_;
    }
    .image_l {
        .page3_image_l_;
    }
}

.page4 {
    /*.gradient1;*/
    visibility: hidden;
    
    font-size: 10px;

    .image {
        .animation_page_image;
    }

    .image_v {
        .page4_image_v_;
    }
    .image_p {
        .page4_image_p_;
    }
    .image_t {
        .page4_image_t_;
    }
    .image_a {
        .page4_image_a_;
    }
}
