/*** Header ***/
@import "header";

/*** Page Turn ****/

.page_turn {
    margin: 0;
    padding: 0;
    position: relative;

    li {
        list-style: none;
        width: 10px;
        height: 10px;
        border: 1px solid;
        border-radius: 50%

    }
    .active_circle {
        position: absolute;
        transition: all .3s

    }

}

/**** Active Background ****/

.active_background {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-position: 50px 10px;
    transition: all .3s
}

/**** User Feedback ****/

.user_feedback {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding: 2.13em .8em;
        display: inline-block;
        width: 48%;
        position: relative;

        &:after {
            content: "";
            clear: both;
            display: block

        }
        &:nth-child(even) {
            padding-left: 1.3em

        }
        &:nth-child(odd) {
            top: 2.53em;
            padding-right: 1.3em

        }
    }
    .user_feedback_avatar {
        width: @uf_avatar_size;
        height: @uf_avatar_size;
        border-radius: 50%;
        background-size: cover;
        display: inline-block;

    }
    .user_feedback_section1 {
        background-color: #fff;
        padding: .8em 2.13em;
        margin: 0 1.73em;
        width: 54%;
        position: relative;

        .public_shadow;
    }
    .uf_left_float {
        float: left;
        margin-right: 3.3em;

        &:before {
            content: "";
            display: block;
            background-color: #fff;
            width: 40px;
            height: 30px;
            position: absolute;
            right: -1.67em;
            top: 0

        }
    }
    .uf_right_float {
        float: right;
        margin-left: 2.5rem;

        &:before {
            content: "";
            display: block;
            background-color: #fff;
            width: 40px;
            height: 30px;
            position: absolute;
            left: -1.67em;
            top: 0

        }
    }
    .user_feedback_identity {
        font-size: @uf_identity_size;
        color: @uf_identity_color;
        margin-top: .53em;
        margin-bottom: 2em;
        text-align: left;
    }
    .user_feedback_content {
        margin: 1.33em 0;
        color: @uf_content_color;
        text-align: left;
        font-size: @uf_content_size;
    }
}

.uf_align_left {
    text-align: left

}
.uf_align_right {
    text-align: right

}

/**** Medium Feedback ****/

.medium_feedback {
    background-color: white;
    height: @mf_height;
    width: @mf_width;
    padding: 3.5em 2.9em;
    position: relative;
    box-sizing: content-box;

    .public_shadow;

    .mf_next_button {
        position: absolute;
        bottom: 3.47em;
        right: 3.87em;
        background-color: @mf_next_button_color;
        padding: .4em .8em;
        cursor: pointer;

        .mf_next_button_triangle {
            width: 0px;
            height: 0px;
            border-top: 1.07em solid transparent;
            border-bottom: 1.07em solid transparent;
            border-left: 1.33em solid #fff;
            border-right: 0;
        }
    }
    .mf_page_turn {
        overflow: hidden;

        li {
            float: left;
            width: 9px; // 单位待商榷
            height: 9px;
            margin: 4px;
        }
    }

    .medium_feedback_block {
        height: @mf_height - 1.33em;

        li {
            list-style: none;
            position: absolute;

            .medium_feedback_logo {
                max-width: @mf_logo_size;
            }

            .medium_feedback_title {
                margin: 1.5em 0;
                font-size: @mf_title_size;
                color: @mf_title_color;
            }

            .medium_feedback_content {
                margin: 1.5em 0;
                font-size: @mf_content_size;
                color: @mf_content_color;
                padding-right: 2em;
            }

            .medium_feedback_section1 {
                /*padding-top: 3rem;*/

                &:before {
                    content: "“";
                    font-size: @mf_content_size * 4;
                    font-family: @mf_quotation_font_family;
                    position: relative; 
                    top: 3em / 4 / @mf_content_size;
                    left: 0 - ( @mf_content_size * 4 * @mf_quotation_width ) / 4 / @mf_content_size;
                    color: @mf_quotation_color;
                }
                &:after {
                    content: "”";
                    display: block;
                    font-size: @mf_content_size * 4;
                    font-family: @mf_quotation_font_family;
                    color: @mf_quotation_color;
                }
            }
        }
    }

}

.medium_logo_fade-enter-active,.medium_logo_fade-leave-active {
    transition: all .7s;
}
.medium_logo_fade-enter,.medium_logo_fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}
.medium_content_fade-enter-active,.medium_content_fade-leave-active {
    transition: all 1s;
}
.medium_content_fade-enter,.medium_content_fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

@media screen and (max-width: 1080px) {
    html {
        font-size: 23px;
    }

    .user_feedback {
        li {
            width: 100%;
            padding: .5rem .6rem;

            &:nth-child(even) {
                top: 0
            }
            &:nth-child(even) {
                .user_feedback_avatar,
                .user_feedback_section1 {
                    float: right;
                }
            }
            &:nth-child(odd) {
                .user_feedback_avatar,
                .user_feedback_section1 {
                    float: left;
                }
            }
        }
    }
}

