/*PC端元素初始位置设置*/

.page2 {
    .card_num_b {
        .card_num_b_1 {
            bottom: 1em;
            left: 23em;
        }
        .card_num_b_2 {
            bottom: 1em;
            left: 23em;
        }
        .card_num_b_3 {
            bottom: 1em;
            left: 23em;
        }
        .card_num_b_4 {
            bottom: 0em;
            right: 9em;
        }
        .card_num_b_5 {
            bottom: 3em;
            right: 9em;
        }
    }
    .card_seq2 {
        .card2 {
            top: 22em;
            left: 10em;
        }
        .card3 {
            top: 22em;
            left: 10em;
        }
        .card4 {
            top: 22em;
            right: 10em;
        }
        .card5 {
            top: 22em;
            right: 10em;
        }
    }
}

.page3 {
    .image_c {
        top: 10em;
        left : 18em;
    }
    .image_a {
        top: 27em;
        left: 27em;
    }
    .image_w {
        top: 26em;
        left: 65.5em;
    }
    .image_s {
        top: 8.5em;
        left: 35em;
    }
    .image_l {
        top: 6em;
        left: 69em;
    }
}

.page4 {
    .image_v {
        top: 7em;
        left: 40em;
    }
    .image_p {
        top: 9em;
        left: 23em;
    }
    .image_t {
        top: 10em;
        left: 78em;
    }
    .image_a {
        top: 9em;
        left: 58em;
    }
}

.page5 {
    .image_1 {
        top: 11em;
        left: 22em;
    }
    .image_2 {
        top: 13em;
        left: 45em;
    }
    .image_3 {
        top: 7em;
        left: 74em;
    }
}

.page6 {
    @top_distance: 11.5em;
    @left_distance: 15em;

    /*侧边四个圆角正方形*/
    .image_1 {
        top: @top_distance;
        left: @left_distance;
    }
    .image_2 {
        top: @top_distance;
        left: 22em;
    }
    .image_3 {
        top: 7em + @top_distance;
        left: @left_distance;
    }
    .image_4 {
        top: 7em + @top_distance;
        left: 7em + @left_distance;
    }
    /*侧边三个圆角矩形*/
    .image_5 {
        top: 7em * 2 + @top_distance;
        left: @left_distance;
    }
    .image_6 {
        top: 7em * 3 + @top_distance;
        left: @left_distance;
    }
    .image_7 {
        top: 7em * 4 + @top_distance;
        left: @left_distance;
    }
    /*三个字*/
    .image_8 {
        top: 2em + @top_distance;
        left: 20.5em + @left_distance;
    }
    .image_9 {
        top: 2em + 4.3em + @top_distance;
        left: 20.5em + @left_distance;
    }
    .image_10 {
        top: 2em + 4.3em * 2 + @top_distance;
        left: 20.5em + @left_distance;
    }
    /*大矩形上的几何图案*/
    .image_11 {
        top: 3em + @top_distance;
        left: 30.5em + @left_distance;
    }
    /*大矩形*/
    .image_12 {
        top: @top_distance;
        left: 18em + @left_distance;
    }
    .image_13 {
        top: @top_distance + 25em;
        left: 64em + @left_distance;
    }
    /*小方块*/
    .image_14 {
        top: @top_distance - 3.5em;
        left: 18em + @left_distance;
    }
    .image_15 {
        top: @top_distance - 3.5em;
        left: 18em + @left_distance + 3.5em;
    }
    .image_16 {
        top: @top_distance - 3.5em;
        left: 18em + @left_distance + 3.5em * 2;
    }
    .image_17 {
        top: @top_distance - 3.5em;
        left: 18em + @left_distance + 3.5em * 3;
    }
    .image_18 {
        top: @top_distance - 3.5em;
        left: 18em + @left_distance + 3.5em * 4;
    }

    .page6_box1_position {
        top: @top_distance - 4em;
        left: @left_distance + 16em;
    }
    .page6_box2_position {
        top: @top_distance - 4em;
        left: @left_distance - 1.5em;
    }
}

.page7 {
    @top_distance: 9em;
    @left_distance: 9em;

    @top_distance2: @top_distance + 6em;
    @left_distance2: @left_distance + 6em;
    @public_height: 10.5em;
    
    .page7_box {
        top: @top_distance;
        left: @left_distance;
    }
    .image_jpg {
        top: @top_distance2;
        left: @left_distance2;
    }
    .image_ppt {
        top: @top_distance2;
        left: @left_distance2 + @public_height;
    }
    .image_bqtp {
        top: @top_distance2 + @public_height;
        left: @left_distance2 + @public_height;
    }
    .image_hdimg {
        top: @top_distance2;
        left: @left_distance2 + @public_height * 3 + 2em;
    }
    .image_pj {
        top: @top_distance2;
        left: @left_distance2 + @public_height * 4 + 5em;
    }
    .image_tmbj {
        top: @top_distance2 + @public_height;
        left: @left_distance2;
    }
}
